html,body {
  background-color: #f4f5f4;
  color: #555;
  height: 100% !important;
}

body {
  overflow-x: hidden;
}

div.global {
  height: 100% !important;
}

/************************************/
/* Estilos menú superior            *
/************************************/
nav.topbar {
  background-color: #fcfcfc;
  box-shadow: 0px 5px 5px rgba(33,33,33,.1);
  height: 70px;
  overflow: hidden;
  width: 100%;
}

div.vmiddle {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

ul.topmenu {
  clear: both;
  display: inline;
  list-style-type: none;
}

ul.topmenu li {
  display: inline;
}

ul.topmenu a.topmenu-item {
  color: #999;
  padding: 10px;
  padding-bottom: 40px;
  transition: color .5s ease-in-out;
}

ul.topmenu a.topmenu-item:hover {
  color: #111;
  font-weight: 400;
}

a.toplogo {
  margin-left: 10px;
}

a.toplogo img {
  height: 70px;
  width: 70px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f3f3f3;
    width: 100%;
    left: 0;
    padding: 12px;
    z-index: 100;
    margin-top: 1.7%;
    box-shadow: 0px 5px 5px rgba(33,33,33,.1);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.arrow {
  background: #f3f3f3;
    border-top: 2px solid #f3f3f3;
    border-right: 2px solid #f3f3f3;
    box-shadow: inset -1px 1px 0 1px #f3f3f3;
    height: 12px;
    left: 64%;
    position: absolute;
    top: -7px;
    transform: rotate(-45deg);
    width: 12px;
    z-index: 1;
}

/************************************/
div.hero-main {
  background: url('../img/header.jpg');
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 90%;
  width: 100%;
}

div.hero {
  box-shadow: 0px 1px 5px rgba(33,33,33,.1);
  overflow: hidden;
  padding: 5% 0% 5% 0%;
  width: 100%;
}

div.hero.blanco {
  background-color: #f5f5f5;
}

div.hero.gris {
  background-color: #dde3e7;
}

div.hero-main-content {
  align-items: center;
  color: #f1f1f1;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

h1.main-title {
  font-weight: 100 !important;
  text-shadow: 1px 1px 3px #333;
  letter-spacing: 2px;
}

p.main-subtitle {
  margin-top: 20%;
}

.button-block {
  width: 100%;
}

span.caret {
  font-size: 10px;
}

i.red-heart {
  color: #be5555;
}

a.button, a.button:active, a.button:visited {
  background-color: #2aaa9b;
}

a.button:hover {
  transition: all .5s ease-in-out;
  background-color: #2abb9b;
}


/**/
h2.product {
  padding: 10px;
  width: 90%;
}

h2.product:hover, h2.product-on {
  background-color: #2abb9b;
  color: #000;
  cursor: pointer;
}

h2.product-on {
  background-color: #2abb9b;
}

.hidden {
  visibility: hidden;
}

.invisible {
  display: none;
}

.container {
  margin-top: 2.5%;
}

/* AIRE */
.aire {
  background: transparent;
	background: -webkit-linear-gradient(top, #c9dbe9 0%, #fff 100%);
	background: -linear-gradient(top, #c9dbe9 0%, #fff 100%);
	background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 100%);
  overflow: hidden;
}

.aire-wrapper {
  position: relative;
  z-index: 100;
}

span.cloud1 {
  background-image: url('../img/cloud1.png');
  position: absolute;
  height: 342px;
  width: 640px;
}

span.cloud2 {
  background-image: url('../img/cloud2.png');
  position: absolute;
  height: 340px;
  width: 1840px;
}

span.cloud3 {
  background-image: url('../img/cloud3.png');
  position: absolute;
  height: 192px;
  width: 400px;
}

.x1 {
  left: 20%;
  opacity: 0.6;
	-webkit-animation: moveclouds 35s linear infinite;
	-moz-animation: moveclouds 35s linear infinite;
	-o-animation: moveclouds 35s linear infinite;
}

.x2 {
	left: 30%;
	opacity: 0.8;
	-webkit-animation: moveclouds 45s linear infinite;
	-moz-animation: moveclouds 45s linear infinite;
	-o-animation: moveclouds 45s linear infinite;
}

.x3 {
	opacity: 0.7;
	-webkit-animation: moveclouds 70s linear infinite;
	-moz-animation: moveclouds 70s linear infinite;
	-o-animation: moveclouds 70s linear infinite;
}

@-webkit-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1840px;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1840px;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1840px;}
}

.demo {
  box-shadow: 0px 0px 3px gray;
  height: 80%;
  width: 80%;
}

.footer {
  background-color: #dde3e7;
  overflow: hidden;
  padding: 3% 0% 2% 0%;
  width: 100%;
}

a.social-network {
  box-shadow: 0px 0px 1px rgba(33,33,33,.5);
  border-radius: 5px;
  color: #f3f3f3;
  font-size: 1.8em;
  margin-right: 1%;
  padding: 10px 30px 10px 32px;
  transition: opacity .4s ease-in-out;
}

a.social-network:hover {
  opacity: .8;
  transition: opacity .4s ease-in-out;
}

a.social-network.facebook {
  background-color: #3b5998;
}

a.social-network.twitter {
  background-color: #0084b4;
}

a.social-network.youtube {
  background-color: #c4302b;
}
